<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пересчёт условий по кредиту</title>
    <meta name="description" content="Перерасчёт условий контрагента.">
    <link rel="stylesheet" th:href="@{~/styles/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="wrapper">
    <div id="main">
        <div id="content" role="main">
            <div class="entry-content">
                <h1>КЛП</h1>
                <hr/>
                <form th:method="POST" th:action="@{/contractors/check/existing}" th:object="${contractor}">
                    <label for="INN">Введите ИНН:</label>
                    <input type="text" th:field="*{INN}" id="INN"/>
                    <input type="submit" value="Пересчитать!"/>
                    <div style="color:red" th:if="${#fields.hasErrors('INN')}" th:errors="*{INN}">INN error</div>
                </form>

                <div th:object="${contractor}">
                    <div th:if="${contractor.getFocusHref() != null}">
                        <hr>
                        <a th:href="${contractor.getFocusHref()}"
                           th:text="${contractor.getFocusHref()}">VALUE</a>
                    </div>

                    <div th:if="${contractor.getSite() != null}">
                        <a th:href="|https://${contractor.getSite()}|"
                           th:text="${contractor.getOrgName()}">VALUE</a>
                    </div>

                    <div th:if="${contractor.getSite() == null}">
                        <span th:text="${contractor.getOrgName()}">VALUE</span>
                    </div>
                </div>

                <div th:if="${result}" th:object="${result}">
                    <hr>
                    <div th:if="${!result.getAdditionalInfo().isEmpty()}">
                        <div th:each="msg: ${result.getAdditionalInfo()}">
                            <strong th:text="${msg}">текст с результатом</strong>
                        </div>
                    </div>

                    <div th:if="${!result.getAdditionalWarnings().isEmpty()}">
                        <div th:each="msg: ${result.getAdditionalWarnings()}">
                            <p class="rule" th:text="${msg}">текст с результатом</p>
                        </div>
                    </div>

                    <div th:if="${result.resultString != null}">
                        <p class="link" th:text="${result.getResultString()}">результат пересчёта</p>
                    </div>

                </div>

                <div th:if="${contracts != null && !contracts.isEmpty()}">
                    <hr>
                    <h3>
                        <b>История сделок:</b>
                    </h3>
                    <br/>
                    <table border="1">
                        <thead>
                        <tr>
                            <td>Дата выдачи лимита</td>
                            <td>Срок выдачи [дн]</td>
                            <td>Срок просрочки выплаты [дн]</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="contract : ${contracts}">
                            <tr>
                                <td>
                                    <span th:text="${contract.getGivenAt()}">VALUE</span>
                                </td>
                                <td>
                                    <span th:text="${contract.getExpiresAfter()}">VALUE</span>

                                </td>
                                <td>
                                    <span th:text="${contract.getDaysOverdue()}">VALUE</span>
                                </td>
                                <td>
                                    <form th:method="DELETE" th:action="@{/contractors/delete/contract/{inn}(inn=${contractor.getINN()})}" >
                                        <input type="hidden" name="id" th:value="${contract.getId()}">
                                        <input type="hidden" name="orgName" th:value="${contractor.getOrgName()}">
                                        <button class="btn-red"><i class="fa fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                        <div th:if="${addContract}">
                            <form th:method="POST" th:action="@{/contractors/add/contract/{inn}(inn=${contractor.getINN()})}">
                                <input type="hidden" name="orgName" th:value="${contractor.getOrgName()}">
                                <tr>
                                    <td>
                                        <input type="text" th:name="givenAt" id="givenAt"/>
                                    </td>
                                    <td>
                                        <input type="text" th:name="expiresAfter" id="expiresAfter"/>
                                    </td>
                                    <td>
                                        <input type="text" th:name="daysOverdue" id="daysOverdue"/>
                                    </td>
                                    <td>
                                        <input type="submit" value="Добавить запись"/>
                                    </td>
                                </tr>
                            </form>
                        </div>
                        </tbody>
                    </table>

                    <form method="GET" th:action="@{/contractors/check/existing/{inn}(inn=${contractor.getINN()})}" >
                        <input type="hidden" name="addContract" th:value="true">
                        <input type="hidden" name="rate" th:value="${contractor.getRate()}">
                        <input type="hidden" name="orgName" th:value="${contractor.getOrgName()}">
                        <button class="btn"><i class="fa fa-plus"></i></button>
                    </form>
                </div>

                <div class="definition">
                    <p>
                        <dfn>Балл скоринга</dfn> - основа оценки кредитоспособности контрагента, рассчитывается, чтобы
                        показать уровень благонадежности нового заемщика компании<br>
                        <dfn>Категории контрагентов по баллам:</dfn>
                    <ul>
                        <li>— 0-10 – полная предоплата, ненадежный контрагент;</li>
                        <li>— 11-20 – контрагент умеренной надежности;</li>
                        <li>— 21-35 - надежный контрагент;</li>
                        <li>— 36-50 - идеальный контрагент;</li>
                    </ul>
                    Если название компании помечена как ссылка - то при нажатии вас отправит на сайт компании
                </div>

                <hr/>
                <form method="GET" action="/contractors">
                    <input class="pressed-button" type="submit" value="На главное меню"/>
                </form>

                <div th:if="${result}" th:object="${result}">
                    <div th:object="${contractor}">
                        <form th:align="right" th:method="DELETE" th:action="@{/contractors/delete/existing/{inn}(inn=${contractor.getINN()})}" >
                            <input class="pressed-button-red" type="submit" value="Удалить контрагента"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>