<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список потенциально опасных контрагентов</title>
    <meta name="description" content="Список контрагентов, которые находятся в красной зоне">
    <link rel="stylesheet" th:href="@{../styles/css/style.css}">
</head>
<body>

<div id="wrapper">
    <div id="main">
        <div id="content" role="main">
            <div class="entry-content">
                <h1>КЛП</h1>
                <hr/>

                <div th:if="${contractors.isEmpty()}">
                    <p>В базе данных не имеется данных по контрагентам</p>
                </div>

                <div th:if="${!contractors.isEmpty()}">
                    <h4>
                        <b>Контрагенты:</b>
                    </h4>
                    <br/>

                    <table border="1">
                        <thead>
                        <tr>
                            <td>ИНН</td>
                            <td>Название компании</td>
                            <td>Причина</td>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="contractor : ${contractors}">
                            <tr th:style="${
                                !contractor.getIsStatusOk() ||
                                !contractor.getLastHeadChangeDateOk() ||
                                !contractor.getIsSumPetitionersOfArbitrationOk()
                            } ? 'color: red' : 'color: black'">
                                <td>
                                    <div th:if="${contractor.getFocusHref() != null}">
                                        <a th:href="${contractor.getFocusHref()}" th:text="${contractor.getINN()}"
                                           th:style="${
                                            !contractor.getIsStatusOk() ||
                                            !contractor.getLastHeadChangeDateOk() ||
                                            !contractor.getIsSumPetitionersOfArbitrationOk()
                                        } ? 'color: red' : 'color: black'"
                                        >VALUE</a>
                                    </div>
                                    <div th:if="${contractor.getFocusHref() == null}">
                                        <span th:text="${contractor.getINN()}">VALUE</span>
                                    </div>
                                </td>
                                <td>
                                    <div th:if="${contractor.getSite() != null}">
                                        <a th:href="|https://${contractor.getSite()}|"
                                           th:text="${contractor.getOrgName()}"
                                           th:style="${
                                                !contractor.getIsStatusOk() ||
                                                !contractor.getLastHeadChangeDateOk() ||
                                                !contractor.getIsSumPetitionersOfArbitrationOk()
                                            } ? 'color: red' : 'color: black'"
                                        >VALUE</a>
                                    </div>
                                    <div th:if="${contractor.getSite() == null}">
                                        <span th:text="${contractor.getOrgName()}">VALUE</span>
                                    </div>
                                </td>
                                <td>
                                    <div th:if="${!contractor.getIsStatusOk()}">
                                        <span>Компания находится в стадии реорганизации</span>
                                    </div>
                                    <div th:if="${!contractor.getLastHeadChangeDateOk()}">
                                        <span>У компании недавно сменился владелец</span>
                                    </div>
                                    <div th:if="${!contractor.getIsSumPetitionersOfArbitrationOk()}">
                                        <span>У компании диагностированы проблемы с судами</span>
                                    </div>
                                    <div th:if="${contractor.getIsStatusOk() && contractor.getLastHeadChangeDateOk() && contractor.getIsSumPetitionersOfArbitrationOk()}">
                                        <span></span>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
                <div class="definition">
                    <p>
                        Если название компании помечена как ссылка - при нажатии происходит редирект <strong>на сайт компании</strong><br>
                        При нажатии на ИНН контрагента - происходит редирект на страницу компании в <strong>контуре</strong>
                </div>
                <hr/>
                <form method="GET" action="/contractors">
                    <input class="pressed-button" type="submit" value="На главное меню"/>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>