<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
<hr>
<form th:align="center" method="GET" action="/contractors/new">
    <input type="submit" value="Проверить нового контрагента"/>
</form>
<hr>

<form th:align="center" method="GET" action="/contractors/recalculate">
    <input type="submit" value="Пересчитать старого контрагента"/>
</form>

<hr>
<form th:align="center" method="GET" action="/contractors/show">
    <input type="submit" value="Список контрагентов"/>
</form>

</body>
</html>