<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <meta name="description" content="Главное меню">
    <link rel="stylesheet" th:href="@{~/styles/css/style.css}">
</head>
<body>

<div id="wrapper">
    <div id="main">
        <div id="content" role="main">
            <div class="entry-content">
                <h1>КЛП</h1>
                <h2 th:align="center">Главное меню</h2>
                <form th:align="center" method="GET" action="/contractors/check/new">
                    <input class="pressed-button-menu" type="submit" value="Проверить нового контрагента"/>
                </form>

                <form th:align="center" method="GET" action="/contractors/check/existing">
                    <input class="pressed-button-menu" type="submit" value="Пересчитать старого контрагента"/>
                </form>

                <form th:align="center" method="GET" action="/contractors/list">
                    <input class="pressed-button-menu" type="submit" value="Список всех контрагентов"/>
                </form>

                <form th:align="center" method="GET" action="/contractors/check/danger-zone">
                    <input class="pressed-button-menu" type="submit" value="Список опасных контрагентов"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>