<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все контрагенты</title>
</head>
<body>

<!--<tr th:each="contractor : ${contractors}">-->
<!--    <a th:href="@{/contractor/{id}(id=${contractor.getINN()})}"-->
<!--       th:text="|${contractor.getINN()}, ${contractor.getOrgName()}|">user</a>-->
<!--</tr>-->


<form method="GET" action="/contractors/new">
    <input type="submit" value="Добавить нового контрагента"/>
</form>

<br/>
<hr/>

<table>
    <thead>
    <tr>
        <th> INN </th>
        <th> Score </th>
        <th> Organization name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contractor : ${contractors}">
        <td><a th:href="@{/contractor/{id}(id=${contractor.getINN()})}"
                th:text="${contractor.getINN()}"> Title </a></td>
        <td align="center"><span th:text="${contractor.getRate()}"> Score </span></td>
        <td><span th:text="${contractor.getOrgName()}"> Organization name </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>