<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый контрагент</title>
</head>
<body>

<form th:method="POST" th:action="@{/contractors}" th:object="${contractor}">

    <label for="INN">Введите ИНН:</label>
    <input type="text" th:field="*{INN}" id="INN"/>
    <div style="color:red" th:if="${#fields.hasErrors('INN')}" th:errors="*{INN}">INN error</div>
    <br/>
     <input type="submit" value="Добавить!"/>
</form>

</body>
</html>